html {
  height: 100%;
  font-size: 13px;
}

body {
  margin: 0;
  padding: 0;
  color: #c8c7c5;
  background-color: #201d18;
  font-family: Verdana, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.25;
}

.content-wrapper {
  padding: 0 16px;
}

.content {
  width: 1008px;
  height: 765px;
  background: url('images/bg.jpg') center 120px no-repeat;
  margin: 56px auto 0;
}

.logo-container {
  display: inline-block;
  width: 344px;
  text-align: center;
}

.logo-link {
  display: block;
  width: 158px;
  height: 198px;
  background: url('images/logo.png');
  margin: 0 auto;
}
.title {
  height: 14px;
  background: url('images/title.png') center no-repeat;
  margin-top: 36px;
}

.block {
  width: 332px;
}

.block.ru {
  float: left;
}
.block.en {
  float: right;
}

.flag-holder {
  float: left;
  margin-right: 12px;
}

.flag {
  display: inline-block;
  width: 42px;
  height: 28px;
}

.ru .flag {
  background: url('images/flag_ru.png');
  float: left;
}
.en .flag {
  background: url('images/flag_en.png');
}

.block-text {
  margin: 12px 0;
}

.release-block {
  height: 36px;
  padding-left: 8px;
}

.server-label {
  line-height: 36px;
}

.userpic-holder {
  margin: 0 6px;
}

.icon-userpic {
  display: inline-block;
  width: 8px;
  height: 10px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAYAAACEYr13AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA5UlEQVR42mP4//8/AxpmBOIEID4HxH+h+DQQx0DlUNSja2YC4kX/cYM56IagG5D1nzBIwWUAyOR7RBhwA5cBYv+JBwLYDJAiwQARbAaAAvAlEZqfIAckeiA2EmFANb5Y4ADiw3g07wdiNnwGgDAnEHcB8SckjR+BuBVqAQMhA0CYGWqTFhBrAjErVIyBkAEgRTOA+AHUFaAknQjEPUD8CIgnQQMbqwEgW9YREYgrkF2DbMBMEtLBZHQDPP+TDpyQDThGhgH7YQbI/CcP/ANicZABQf/JBz4gA/IoMCCTAZpYYsjEGgArUXJ4BC0sjgAAAABJRU5ErkJggg==') center no-repeat;
  background-size: contain;
}
.block-releases {
    position: absolute;
}
.client-button {
  float: right;
  font-size: 12px;
  font-weight: 700;
  border-radius: 4px;
  height: 16px;
  padding: 4px 16px;
  text-decoration: none;
  outline: 0 none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #000;
  margin: 4px;

  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAgCAYAAADT5RIaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEVJREFUeNpszDEOgCAQRNGVaJDl0lwa0Egi/C22onnVnwkiUsLigxce6NCgbmiedJ/ZwYAfDjjhggjJUcgb1JPbZlOAAQBQaxC86QJKCQAAAABJRU5ErkJggg==') repeat-x center center #506930;
  border: 2px solid #2d4210;
  transition: border 300ms, background-color 250ms, box-shadow 500ms;
  color: #c8c7c5;
}

.client-button:visited {
  color: inherit;
}

.client-button:hover {
  background-color: #7ad82d;
  border-color: #49831a;
  color: #fff;
  box-shadow: 0 0 10px #49831a;
}
