/* colorbox */
#colorbox, #cboxOverlay, #cboxWrapper{
  position:absolute;
  top:0;
  left:0;
  z-index:9999;
  overflow:hidden;
}
#cboxOverlay{
  position:fixed;
  width:100%;
  height:100%;
}
#cboxContent{

  position:relative;
}
#cboxLoadedContent{

}
#cboxLoadedContent iframe{

  display:block;
  width:100%;
  height:100%;
  border:0;
}
#cboxTitle{
  margin:0;
  font-size: 14px;
}
#cboxLoadingOverlay, #cboxLoadingGraphic{
  background-color:#000;
  position:absolute;
  top:0;
  left:0;
  width:100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{
  cursor:pointer;
}
#cboxOverlay{
  background-color:#000;
}
#colorbox{
  padding: 0px 12px 54px 12px !important;
/*  padding-bottom: 54px !important;
 padding-right: 54px !important;*/
}
#cboxWrapper {
  margin-top: 30px;
  background: rgba(0, 0, 0, 0.8);
  border: 2px solid rgba(170, 170, 170, 0.75);
  border-radius: 5px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25);
}
#cboxContent{
  overflow: hidden;
}

#cboxTopCenter{

  height: 10px;
}
#cboxBottomCenter {
  height: 10px;
}
#cboxTopRight, #cboxBottomLeft, #cboxBottomRight, #cboxTopLeft  {
  height: 10px;
  width: 10px;
}
#cboxMiddleLeft, #cboxMiddleRight {
  width: 10px;
}
#cboxLoadedContent{
  overflow: hidden !important;
}
#cboxNext, #cboxPrevious {
  position: absolute;
  text-indent: -9998px;
  top: 0px;
  z-index: 19999;
  width: 56px;
  height: 68px;
  background-image: url('../images/sprite_ru-1.png');
  background-repeat:  no-repeat;
  background-color: transparent;
  top: 50%;
  margin-top: -24px;
}
#cboxPrevious{
  left: 18px; /*3*/
  background-position: -480px 0;
}
#cboxPrevious.hover{
  background-position: -480px -70px;
}
#cboxNext{
  right: 15px; /*0*/
  background-position: -540px 0;
}
#cboxNext.hover{
  background-position: -540px -70px;
}
#cboxLoadingOverlay{
  background-color:#000;

}
#cboxLoadingGraphic{
  background:url('../images/loading.gif') center center no-repeat #000;

}
#cboxClose{
  position:absolute;
  top: 4px;
  right: 38px;
  display:none !important;
  background: url('../images/sprite_ru-1.png')-645px -4px no-repeat;
  width: 19px;
  height: 19px;
  text-indent:-9998px;
  z-index:20000;
}
#cboxClose:hover{
  background: url('../images/sprite_ru-1.png')-645px -28px no-repeat;
}
#cboxExtra {
  color: #ccc;
  /*margin-top: 10px;*/
}
#cboxExtra a {
  color: #eee;
}
#cboxExtra a:hover {
  color: #fff;
}