.sprite {
    background: url(../images/sprite_ru.png) no-repeat;
}

.download {
    background: url(../images/sprite_download_ru.png) no-repeat;
}

@media only screen and (max-width: 479px) {
    .main-header__fight-button, .sprite_fight-button {
        background: url(../images/buttons_mini_ru.png) no-repeat 0 0;
    }
}

.game-rating {
    float: left;
    margin: 20px;
}
.main-footer__nav .elems .elem {
    margin: 0 30px 0 0 !important;
}
.main-header__social .fb iframe {
    width: 170px !important;
}